body {
	font-family: sans-serif;
}

p {
	margin: 0 0 1rem;
}

.checkout-app {
	width: 100%;
	display: flex;
}

.checkout-form {
	flex: 3;
}

.order-summary {
	flex: 1;
	margin-left: 1rem;
	padding: 1rem;
	float: right;
	background-color: #f6f6f6;
}