body {
	font-family: sans-serif;
	/*height: 1000px*/
}

p {
	margin: 0 0 1rem;
}

.checkout-app {
	width: 100%;
}

.checkout-form-wrapper {
	display: flex;
	/*margin-top: 400px;*/
}

.checkout-form {
	flex: 3;
}

.checkout-form__booking-details {
	display: flex;
}

.checkout-form__when {

}

.checkout-form__what {
	margin-left: 1rem;
	flex: 1;
}

.form-row {
	margin-bottom: 1rem;
}

.form-row label {
	display: block;
	margin-bottom: 0.25rem;
}

.textfield {
	padding: 0.25rem;
	font-size: 1rem;
}

.textfield--error {
	border: 1px solid red;
}

.form-error {
	margin-top: 0.25rem;
	font-size: 0.75rem;
	color: red;
}

.order-summary {
	flex: 1;
	margin-left: 1rem;
	padding: 1rem;
	float: right;
	background-color: #f6f6f6;
}

.action-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1rem;
	opacity: 0.8;
	background-color: #eee;
}