.variant {
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: #f6f6f6;
	display: flex
}

.variant--disabled {
	opacity: 0.8;
}

.variant__title,
.variant__price {
	margin-bottom: 0;
}

.variant__title,
.variant__price,
.variant__quantity-selector {
	flex: 1;
}

.stepper {
	width: 8rem;
	display: flex;
}

.stepper__btn {
	font-size: 1.125rem;
	border: 1px solid #ccc;
	background: #fff;
}

.stepper__btn[disabled] {
	color: #ccc;
}